
.section_slide{
	height: calc(100vh - 100px);
	background-color: rgb(245, 244, 243);
}
.section_2{
	height: 100vh;
	background-color: yellow;
}
.section_3{
	height: 100vh;
	background-color:green;
}
.section_4{
	height: 100vh;
	background-color: violet;
}