.main{
    position: relative;
    min-height: 100vh;
    height: auto;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 5%;
    background-color: var(--dark-gray);

    flex-wrap: wrap;

}
.logo{
    color:var(--primary)
}
.logo small{
    /* color: var(--light-gray); */
    /* color: rgb(148, 180, 250); */
    color: var(--dark-blue);
}

.header_right,.header_left{
    display: flex;
    align-items: center;
    gap:20px;
    color: var(--light-gray);
}

.navbar{
    display: flex;
    gap:10px;
}
.search_form input:focus{
    outline: none;

}

.footer{
    height: 300px;
    position: absolute;
    bottom: 0;
    width: 100%;

    background-color:  var(--dark-gray); 
}
